/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

:root {
  --color1: rgb(79, 79, 255);
  --colorText1: rgb(124, 124, 124);

}

.App {
  /* text-align: center; */
  background-color: #282c34;
  background-color: #020105;
  background-color: #0b001d;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  border-top: 2px solid var(--color1);
  background-color: rgba(255, 255, 255, 0.062);
  width: 100%;
  height: 50px;
}

header a {
  display: flex;
  align-items: center;
  margin: 0 10px;
  text-decoration: none;
  color: #cf0150;
  /* border-left: 1px solid #cf0150; */
  padding: 5px;
  border-radius: 5px;
  width: 100px;
  justify-content: space-around;
}

header a:hover {
  color: #74002d;
}

.wrap-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  padding: 80px;

}

.main-color {
  color: var(--color1);
}

.index-text-box {
  width: 520px;
  /* border: 1px solid rgb(179, 29, 29); */
  text-align: right;
  margin-right: 30px;
  margin-bottom: 30px;
}

.sub-title{
  color: var(--colorText1);
  font-size: 30px;
  margin: 0;
  text-shadow: 1px 1px rgb(53, 53, 53);
}

.name {
  /* font-size: 70px; */
  /* line-height: 80px; */
  margin: 0;
  /* text-shadow: 1px 1px rgb(233, 100, 133); */
}

.hard-skills {
  width: 700px;
  border-radius: 5px;
  /* color: #cf0150; */
  color: #e8d4ff;
  /* background: linear-gradient(45deg, #5054FF, rgb(162, 0, 255, 0.8)); */
  margin-top: 50px;
  /* padding: 10px; */
  font-size: 16px;
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* justify-content: space-between; */
}

.eachItem {
  display: flex;
  align-items: center;
  width: 550px;
  /* border-bottom: 1px solid rgba(0, 204, 255, 0.1); */
  /* border-bottom: 1px solid rgb(179, 29, 29, 0.1); */
  

}

.skill-item {
  width: 180px;
  margin: 5px;
  margin-right: 15px;
  /* border: 1px solid rgb(179, 29, 29); */
}

.red {
  color: rgba(255, 0, 0, 0.3);
}

.blue {
  color: rgba(13, 15, 155, 0.4);
}

.yellow {
  color: rgba(128, 128, 128, 0.4);
}

.red,
.blue, 
.yellow {
font-size: 25px;
}

footer {
  display: flex;
  align-items: center;
  border-top: 1px solid var(--colorText1);
  background: linear-gradient(45deg, #5054FF, rgb(162, 0, 255, 0.9));
  width: 100%;
  padding: 20px;
}

.icons {
  fill: #cf0150;
}

.icons:hover {
  fill: #74002d;
}
.progress-bar {
  width: 400px;
  height: 15px;
  position: relative;
}
.gray-bar {
  width: 300px;
  height: 10px;
  background: linear-gradient(45deg, rgb(97, 61, 255, 0.5), rgba(80, 32, 253, 0.0));
  /* background: linear-gradient(45deg, rgb(168, 168, 168), rgb(235, 235, 235, 0.2)); */
  position: absolute;
  z-index: 1;
}

.color-bar {
  width: 10px;
  height: 10px;
  background: linear-gradient(45deg, #5054FF, rgb(162, 0, 255, 0.9));
  position: absolute;
  z-index: 1;
}

.contact-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  width: 400px;
  /* border: 1px solid rgb(179, 29, 29); */
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px 20px;
  margin-bottom: 10px;
  font-size: 20px;
  /* background: rgba(255, 255, 255, 0.151); */
  background: transparent;
  color: white;
  border: none;
  border-bottom: 1px solid white;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: rgb(179, 179, 179);
}

