/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

:root {
  --color1: rgb(79, 79, 255);
  --colorText1: rgb(124, 124, 124);

}

.App {
  /* background-color: #282c34; */
  background: linear-gradient( #0b001d, #17003b);

}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  border-top: 2px solid var(--color1);
  /* background-color: rgba(255, 255, 255, 0.062); */
  /* background-color: #0b001d; */
  width: 100%;
  height: 50px;
}

header div a {
  display: flex;
  align-items: center;
  margin: 0 10px;
  text-decoration: none;
  color: #cf0150;
  /* border-left: 1px solid #cf0150; */
  padding: 5px;
  border-radius: 5px;
  width: 100px;
  justify-content: space-around;
}

.icons-header {
  width: 250px;
  display: flex;
  /* border: 1px solid white; */
}

header div a:hover {
  color: #74002d;
}

.wrap-content {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-around;
  /* align-items: flex-start; */
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;

}

.main-color {
  color: var(--color1);
}

.index-text-box {
  width: 440px;
  /* border: 1px solid rgb(179, 29, 29); */
  /* text-align: right; */
  /* margin-right: -100px; */
  margin-top: 20px;
}

.animated-text-home {
  color: white;
  font-size: 40px;
  font-family: 'Ubuntu', sans-serif;
  width: 600px;
  height: 90px;
  border-left: 4px solid #cf0150;
  /* margin-top: 10px; */
  margin-bottom: 40px;
  /* margin-left: 175px; */
  margin-left: 30px;
  padding-left: 20px;
  /* font-family: 'Lato', sans-serif; */
}

/* .sub-title{
  color: var(--colorText1);
  font-size: 50px;
  margin: 0;
  text-shadow: 2px 2px #cf015085;
  color: white;
} */

.name {
  font-size: 35px;
  color: white;
  /* line-height: 80px; */
  /* margin: 0; */
  /* text-shadow: 1px 1px rgb(233, 100, 133); */
  left: 600px;
  /* font-family: 'Caveat', cursive; */
  font-weight: 500;
}

.hard-skills {
  width: 440px;
  color: #e8d4ff;
  /* margin-top: 50px; */
  /* border: 1px solid rgba(0, 204, 255, 0.1); */
}

.eachItem {
  display: flex;
  align-items: center;
  width: 440px;
  /* border: 1px solid rgba(0, 204, 255, 0.1); */
  /* border-bottom: 1px solid rgb(179, 29, 29, 0.1); */
}

.skill-item {
  width: 160px;
  margin: 3px;
  margin-right: 15px;
  /* border: 1px solid rgb(179, 29, 29); */
  font-size: 15px;
  text-align: right;
}

footer {
  display: flex;
  align-items: center;
  border-top: 1px solid var(--colorText1);
  /* background: linear-gradient(45deg, #5054FF, rgb(162, 0, 255, 0.9)); */
  background-color: rgb(0, 153, 158);
  width: 100%;
  padding: 20px;
}

.icons {
  fill: #cf0150;
}

.icons:hover {
  fill: #74002d;
}
.progress-bar {
  width: 250px;
  height: 15px;
  position: relative;
}
.gray-bar {
  width: 250px;
  height: 10px;
  background: linear-gradient(45deg, rgb(97, 61, 255, 0.5), rgba(80, 32, 253, 0.0));
  /* background: linear-gradient(45deg, rgb(168, 168, 168), rgb(235, 235, 235, 0.2)); */
  position: absolute;
  z-index: 1;
  border-radius: 5px;
  margin-top: 2px;
}

.color-bar {
  width: 10px;
  height: 10px;
  background: linear-gradient(45deg, #5054FF, rgb(162, 0, 255, 0.9));
  position: absolute;
  z-index: 1;
  border-right: 2px solid #cf0150;
  border-radius: 5px;
  margin-top: 2px;
}

.contact-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  width: 400px;
  /* border: 1px solid rgb(179, 29, 29); */
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px 20px;
  margin-bottom: 10px;
  font-size: 20px;
  /* background: rgba(255, 255, 255, 0.151); */
  background: transparent;
  color: white;
  border: none;
  border-bottom: 1px solid white;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: rgb(179, 179, 179);
}

.photo {
  width: 900px;
  min-width: 650px;
  height: 900px;
  background: url('../src/images/foto_portfolio_vinicius.png') no-repeat center bottom;
  background-size: contain;
  margin-top: -250px;
}

.portfolio {
  border-top: 2px solid #cf0150;
  background-color: white;
  padding: 20px;
}

.title {
  font-size: 50px;
  font-family: 'Ubuntu', sans-serif;
  margin-left: 50px;
  color: #0b001d;
}